## DataFrame 누락데이터 처리하기
    누락데이터 값 삭제하기 - dropna(), fillna(), isnull(), notnull()

In [ ]:
'''
Pandas는 누락데이터를 NaN으로 처리한다.
dropna() : NaN값을 1개라도 포함하는 행은 삭제한다.
- dropna(how="all") >> how속성 지정하면 모든 값이 NaN인 row 삭제
- dropna(how="any") >> NaN값을 1개라도 포함하는 행은 삭제한다.(기본매개변수=any)
- dropna(thresh=3) >> NaN이 아닌 값을 2개 이상 포함하는 행만 남김.

fillna() : 누락된 데이터를 다른 값으로 채움
'''

In [3]:
import pandas as pd
import numpy as np
from numpy import nan as na

In [35]:
df=pd.DataFrame([[1,6.5,3],[1,na,na],[na,na,na],[na,6.5,3]])
df

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [16]:
# 1. dropna() : 누락값이 하나라도 있으면 삭제
removeNa=df.dropna()
removeNa

df.dropna(how="all") # 모든데이터가 누락 데이터인 행만 삭제
df.dropna(thresh=2) # NaN이 아닌 값이 최소 2개 이상 나와야 된다는 것이다.

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

## 누락된 값 채우기
    fillna()

In [27]:
df.fillna(0)
df.fillna(df.mean())
df.fillna(value=77)
df.fillna(df.median())

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

In [44]:
df.fillna(method='ffill')

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0