In [2]:
tu = (10,20,30,40,50,60,70,80,90,100)
li = [10,20,30,40,50,60,70,80,90,100]
import sys
print(len(tu))
print(len(li))
print('*'*30)
print('리스트',sys.getsizeof(li))
print('튜플',sys.getsizeof(tu))

10
10
******************************
리스트 144
튜플 128

In [3]:
#tu[3] = 77 
# tuple은 변경 삭제 안됨

TypeError: 'tuple' object does not support item assignment

### Dictionary

In [5]:
#1. 생성하기
proDic = {'name':'DRAM','capa':'2GB','maker':'SK-H','price':320000}
print(proDic)

{'name': 'DRAM', 'capa': '2GB', 'maker': 'SK-H', 'price': 320000}

In [9]:
#2. 데이터추출
'''
리스트, 튜플은 데이터 요소를 출력할 때
인덱싱이나 슬라이싱 기법을 사용해서 데이터를 추출

딕셔너리는 안됨 == 인덱싱 안됨 == 순서없음

딕셔너리 데이터 추출방법?
key를 이용하여 값을 추출
'''

print(proDic['name'])
print(proDic.get('name'))
#위아래 동일 방법

DRAM
DRAM

In [11]:
#3. 데이터수정
proDic['price']=230000
print(proDic)

{'name': 'DRAM', 'capa': '2GB', 'maker': 'SK-H', 'price': 230000}

In [12]:
#4. 데이터 추가하기, 수정하기
addInfo = {'loc':'이천','pop':300000}
proDic.update(addInfo)
print(proDic)

{'name': 'DRAM', 'capa': '2GB', 'maker': 'SK-H', 'price': 230000, 'loc': '이천', 'pop': 300000}

In [15]:
#5.삭제하기 : del dic[키이름]
#del dic[3] 같은건 안됨 왜냐면 인덱싱X
del proDic['pop']
print(proDic)

{'name': 'DRAM', 'capa': '2GB', 'maker': 'SK-H', 'price': 230000, 'loc': '이천'}

In [17]:
'''
딕셔너리 다룰 때 주의사항
값은 중복이 되지만, 키는 중복이 안됨
키값이 중복된다면 나중에 추가된 키의 값으로 overwrite됨
에러 없음

딕셔너리에서 리스트는 키로 올 수 없음
그러나 튜플은 가능

키는 유니크해야하기 때문에 변경이 불가한 튜플이 가능한 것임
'''

'\n딕셔너리 다룰 때 주의사항\n값은 중복이 되지만, 키는 중복이 안됨\n키값이 중복된다면 나중에 추가된 키의 값으로 overwrite됨\n에러 없음\n'

In [20]:
a = {1:'a',1:'b'}

# bb = {[1,2]:'hi'}
# bb 안됨

c={(1,2):'hi'}
c

{(1, 2): 'hi'}

### 딕셔너리에서 함수 사용하기

In [21]:
dic={'name':'Rose','age':'24','addr':'seoul','phone':'01000000000'}
dic

{'name': 'Rose', 'age': '24', 'addr': 'seoul', 'phone': '01000000000'}

In [31]:
#1. key(), values()
keys = dic.keys() #dict_keys타입
values = dic.values()#dict_values타입
print(list(keys)) #list타입 변환

'''
dict_keys 객체는 리스트를 사용하는 것과 차이가 있다.
그렇기 때문에 리스트 고유의 함수를 수행할 수 없다.
append(), insert(), pop(), remove(),sort()
for문과 연결...
'''

['name', 'age', 'addr', 'phone']

In [32]:
for k in dic.keys():
    print(k)
print('*'*30)
for v in dic.values():
    print(v)
print('*'*30)

name
age
addr
phone
******************************
Rose
24
seoul
01000000000
******************************

In [34]:
#name age address phone
for k in dic.keys():
    print(k,end=" ")

name age addr phone

In [36]:
#2. key,value 모두 가지고 올때 items씀
dic_item = dic.items()
print(dic_item) #key와 Value를 쌍으로 묶은 튜플을 반환함

dict_items([('name', 'Rose'), ('age', '24'), ('addr', 'seoul'), ('phone', '01000000000')])

In [41]:
#3. key로 밸류 얻기 get.
dic.get('name')


'''
None출력되는 경우
1) 반환값 없는 함수를 print()안에 적용시킨경우 sort()/리턴값있음 - sorted()
2) 딕셔너리에 존재하지 않는 키 값을 받아올때
'''

print(dic.get('addr'))
print(dic['addr'])
#print(dic['love'])에러
#pint(dic.get('love')) NONE뜸

seoul
seoul
None

In [42]:
'name' in dic

True

## set

In [43]:
'''
중복을 허용하지 않는다.
순서 없음

리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해서 데이터를 추출할 수 있지만
set은 인덱싱으로 데이터 추출 안됨

만약 set에 저장된 값을 인덱싱, 슬라이싱으로 핸들링하고자 한다면,
리스트 혹은 튜플로 자료형을 변환하여야 함.
'''

'\n중복을 허용하지 않는다.\n순서 없음\n\n리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해서 데이터를 추출할 수 있지만\nset은 인덱싱으로 데이터 추출 안됨\n\n만약 set에 저장된 값을 인덱싱, 슬라이싱으로 핸들링하고자 한다면,\n리스트 혹은 튜플로 자료형을 변환하여야 함.\n'

In [45]:
mySet = {'a','b','c','a','b'}
mySet

{'a', 'b', 'c'}

In [49]:
'''
 중복을 허용하지 않는 set의 특징은 다른 자료형에 담긴 데이터의 중복을 제거하기 위한
 필터역할을 매우 자주한다.
'''
a = [1,1,2,2,2,3,4,3,3,5,6,6,5,7,8,2]
print(a)

setData = set(a)
print(setData)

listData = list(setData)
print(listData)

[1, 1, 2, 2, 2, 3, 4, 3, 3, 5, 6, 6, 5, 7, 8, 2]
{1, 2, 3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
#sort() 반환값없음 print하면 none
#sorted()반환값있음 print하면 출력됨

listData.sort(reverse=True)
print(listData)
print('*'*30)

print(sorted(listData, reverse=True))

[8, 7, 6, 5, 4, 3, 2, 1]
******************************
[8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
%whos

Variable   Type           Data/Info
-----------------------------------
a          list           n=16
addInfo    dict           n=2
c          dict           n=1
dic        dict           n=4
dic_item   dict_items     dict_items([('name', 'Ros<...>'phone', '01000000000')])
k          str            phone
keys       dict_keys      dict_keys(['name', 'age', 'addr', 'phone'])
li         list           n=10
listData   list           n=8
mySet      set            {'a', 'c', 'b'}
proDic     dict           n=5
setData    set            {1, 2, 3, 4, 5, 6, 7, 8}
sys        module         <module 'sys' (built-in)>
tu         tuple          n=10
v          str            01000000000
values     dict_values    dict_values(['Rose', '24'<...> 'seoul', '01000000000'])

### SET 관련함수

In [62]:
#1. 추가
setData.add(9)
setData

s1 = set([1,2,3])
s1.add(4)

s1.add(5)
s1.add(6)
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [68]:
#2. 값 여러개 추가 update() int형 추가 안됨 list형같은 것들만 됨 

s2 = {4,5,6}
s1.update(s2)

s1.update([10,11])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}